@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0f1117;
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #12141c;
}

::-webkit-scrollbar-thumb {
  background: #282d3f;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #393f56;
}

/* Prevent text selection during scrubbing and dragging */
.no-select {
  user-select: none;
  -webkit-user-select: none;
}
